body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }



  

  @media only screen and (max-width: 500px){
  .book {
      align-content: center;
      max-width: 100%;
      display: flex;
      height: 50%;  
      flex-grow: initial;

  }
}