img {
    align-self: center;
    border-radius: 13px;
    padding: 0px;
    max-width: 60%;
    height: auto;
    width: auto;
  }


  .donateText{

    color: navajowhite;
    font-size: 900;
    text-align: center;
    margin: 0;
    top: 0;
  
  }




