body {
  background-color: #8b9978;

}
h1 {
  background-color: #1b372b;
  color: white;
  font-size: 50;
  text-align: center;
  margin: 0;
  top: 0;
}
p {
  color: black;
  float: right;
  text-align: left;
  font-size: larger;
}

.sidenav {
  background-color: #40312e;
  height: 100%;
  width: 12%;
  position: fixed;
  float: left;
  color: white;
  font-size: larger;
  text-align: left;
  padding: 1%;
}

ol {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding-left: 0;
}

li {
  color: white;
  padding: 5%;
}

a {
  color: white;
}

img {
  margin-left: 15%;
  margin-top: 1%;
  border: 10px solid #8a4943;
}

.bitcoin{
  transform: translate(100px, 20px);
}